.article-section__grid {
  display: grid;
  grid-template-areas:
    "item1"
    "item2"
    "item3";
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  gap: 3em;
}

.article-section__grid__item {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.article-section__grid__item:nth-child(1) {
  grid-area: item1;
  background-color: rgb(108, 108, 210);
}

.article-section__grid__item:nth-child(2) {
  grid-area: item2;
  background-color: red;
}

.article-section__grid__item:nth-child(3) {
  grid-area: item3;
  background-color: green;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
}
