/*ad variables ets ADN can you find 
a way how to apply a style in evey other item?

nd hoer is not workingS*/

.blog {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  margin: 5em;
  & article {
    padding: 12em;
    border-radius: 3em;
    cursor: pointer;
  }
  & article:nth-child(1) {
    background-image: url(./img/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
  & article:nth-child(2) {
    background-image: url(./img/image2.png),
      linear-gradient(rgba(230, 127, 54, 0.402), #8d552d80);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
  & article:nth-child(3) {
    background-image: url(./img/image4.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}



.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #f1f1f1;
  border-radius: 5px;
  padding-left: 3em;
  padding-right: 3em;
}
