@use "../extends/shared";
@use "../variables/colors";
@import "../mixins/backgrounds";
@import "../mixins/shared";

.card {
  display: grid;
  grid-template-areas:
    "item1 item1 item2 item3"
    "item1 item1 item4 item5";
  gap: 2em;
  & p {
    padding-top: 2em;
  }

  & .lower {
    padding-top: 17em;
  }

  & article {
    border-radius: 2em;
    padding: 2em;
    &:hover {
      transform: translateY(-1.5%);
      transition: all 0.5s;
      cursor: pointer;
    }
  }

  & article:nth-child(1) {
    grid-area: item1;
    @include background-style("./img/image1.png", linear-gradient(rgba(74, 46, 26, 0.402), #423f2680));
    & button {
      @include button-style(colors.$theme-primary, colors.$theme-light);
    }
  }

  & article:nth-child(2) {
    grid-area: item2;
    @include background-style("./img/image2.png", linear-gradient(rgba(26, 37, 74, 0.402), #31299a80));
    & button {
      @include button-style(colors.$theme-primary, colors.$theme-light);
    }
    @include font-color(colors.$theme-primary);
  }

  & article:nth-child(3) {
    @include background-style("./img/image3.png", linear-gradient(rgba(165, 110, 34, 0.402), #da8d2080));
    & button {
      @include button-style(colors.$theme-light, colors.$theme-primary);
    }
    @include font-color(colors.$theme-primary);
  }

  & article:nth-child(4) {
    @include background-style("./img/image4.png", linear-gradient(rgba(195, 16, 235, 0.402), #460b3c80));
    & button {
      @include button-style(colors.$theme-light, colors.$theme-primary);
    }
  }

  & article:nth-child(5) {
    grid-area: item5;
    @include background-style("./img/image5.png", linear-gradient(rgba(235, 16, 173, 0.402), #d53ebc80));
    & button {
      @include button-style(colors.$theme-primary, colors.$theme-light);
    }
  }
}

@media screen and (max-width: 1000px) {
  .card {
    margin: 1.5em;
    & article {
      padding: 1em;
      border-radius: 2em;
    }
  }
}
