@use "../variables/colors";
@use "../variables/shared";

.footer-nav-wrapper {
  display: grid;
  grid-template-areas:
    "nav1 nav2"
    "social .";
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  & nav {
    grid-area: "nav";
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    & a {
      font-size: 0.8em;
      text-decoration: shared.$link-decoration;
      color: colors.$link-light;
      margin-right: 1em;
      padding: 1%;
      &:hover::after {
        content: "";
        height: 0.2em;
        width: 0.2em;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
      }
    }
    & i {
      padding: 10%;
      font-size: 0.8em;
      color: #f8f8f8;
      &:hover {
        color: orange;
      }
    }
  }
}

.rights {
  grid-area: "social";
  display: flex;
  margin-left: 10%;
  & p {
    font-size: 0.2em;
    color: #f8f8f8;
  }
}


