.header__container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em; 
    grid-template-areas: 
      "logo menu"; 
  }

    .header__container__inner {
        grid-area: logo;
        background-color: aqua;
    }

    .header__menu {
        grid-area: menu;
        background-color: rgb(115, 0, 255);}

    .nav ul {
        display: grid;
        justify-content: flex-end;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        gap: 0.5em;
      }
      
      .nav li {
        list-style: none;
        background-color: aqua;
      }