@use "../variables/colors";
@use "../variables/shared";


/* make extend/ mixing for for the link dec
make the hoover effect whit right colors*/

header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 1em;
  & img {
    height: 2.5em;
  }
  & nav {
    white-space: nowrap;
    max-width: 80%;
    & a {
      text-decoration: shared.$link-decoration;
      color: colors.$link-light;
      margin-right: 1em;
      &:hover::after {
        content: "";
        height: 0.2em;
        width: 0.2em;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
      }
    }
    & a:first-child {
      &::after {
        content: "";
        height: 0.2em;
        width: 0.2em;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
      }
    }
    & i {
      color: colors.$link-light;
    }
  }
}

@media screen and (min-width: 1000px) {

  .fa-bars {
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  
  .menu-toggle {
    display: block;
    cursor: pointer;

  }
  .fa-bars {
    color: white;
  }
  
}