@use "../variables/colors" as link;
@use "../variables/fonts" as font;


/* make extend/ mixing for for the link dec
make the hoover effect whit right colors*/

header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 1.3em;
  & img {
    height: 2.5em;
  }
  & nav {
    & a {
      text-decoration: none;
      color: link.$link-light;
      margin-right: 1em;
      &:hover::after {
        content: "";
        height: 0.2em;
        width: 0.2em;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
      }
    }
    & a:first-child {
      &::after {
        content: "";
        height: 0.2em;
        width: 0.2em;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
      }
    }
    & i {
      color: link.$link-light;
    }
  }
}

@media screen and (min-width: 1000px) {

  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  
  .menu-toggle {
    display: block;
    cursor: pointer;

  }
  .fa {
    color: white;
    height: 5em;
  }
  
}