.header__container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em; 
    grid-template-areas: 
      "logo menu"; 
  }

    .header__container__inner {
        grid-area: logo;
        background-color: aqua;
    }

    .nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        gap: 0.5em;
      }
      
      .nav li {
        list-style: none;
        background-color: aqua;
      }