.old-article-section__grid {
    display: grid;
    grid-template-areas:
      "item1 item1 item1 item2 item2 item2"
      "item1 item1 item1 item2 item2 item2"
      "item3 item3 item4 item4 item5 item5" ;
    gap: 1em;
  }

  .old-article-section__grid__item {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
  }

  .old-article-section__grid__item:nth-child(1) {
    grid-area: item1;
    background-color: blue;
  }

  .old-article-section__grid__item:nth-child(2) {
    grid-area: item2;
    background-color: red;
  }

  .old-article-section__grid__item:nth-child(3) {
    grid-area: item3;
    background-color: green;
  }
  .old-article-section__grid__item:nth-child(4) {
    grid-area: item4;
    background-color: yellow;
  }
  .old-article-section__grid__item:nth-child(5) {
    grid-area: item5;
    background-color: purple;
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }