/* make variables, color thing, optomize code?*/
@use "../extends/shared";
@use "../variables/colors";

.old-blog {
  display: grid;
  grid-template-areas:
    "item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item2 item2 item2"
    "item3 item3 item4 item4 item5 item5";
  gap: 1em;
  margin: 5em;

  & article {
    border-radius: 2em;
    padding: 5em;
    }
  & article:nth-child(1) {
    grid-area: item1;
    background-image: url(./img/image1.png),
      linear-gradient(rgba(230, 127, 54, 0.402), #8d552d80);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    & button {
      @extend.button-dark;
    }
    
  }
  & article:nth-child(2) {
    grid-area: item2;
    background-image: url(./img/image2.png),
      linear-gradient(rgba(230, 127, 54, 0.402), #8d552d80);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    & button {
      @extend.button-light;
    }
  }
  & article:nth-child(3) {
    grid-area: item3;
    background-image: url(./img/image6.png),
      linear-gradient(rgba(230, 127, 54, 0.402), #8d552d80);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    & button {
      @extend.button-dark;
    }
  }
  & article:nth-child(4) {
    grid-area: item4;
    background-image: url(./img/image7.png),
      linear-gradient(rgba(230, 127, 54, 0.402), #8d552d80);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    & button {
      @extend.button-light;
    }
  }
  & article:nth-child(5) {
    grid-area: item5;
    background-image: url(./img/image6.png),
      linear-gradient(rgba(230, 127, 54, 0.402), #8d552d80);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    & button {
      @extend.button-dark;
    }
  }
  & article:hover {
    background-size: 101%;
  }
  & h3 i {
    visibility: hidden;
    transition: transform 0.5s ease-out;
    padding-left: 0.7em;
  }
  & h3:hover i{
    visibility: visible;
    transform: scaleX(1.5);
  }
}
