.top-section__grid {
  display: grid;
  grid-template-areas:
    "item1 item2 item3"
    "item1 item4 item5 ";
  gap: 1em;
  padding-bottom: 3em;
}

.top-section__grid__item {
  border-radius: 1.5em;
}

.top-section__grid__item:hover {
  transform: translateY(-5px);
  transition: all 0.5s;
}

.top-section__grid__item:nth-child(1) {
  grid-area: item1;
  background-image: url(./img/image1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Replace with your desired color and opacity */
}

.top-section__grid__item:nth-child(2) {
  grid-area: item2;
  background-color: red;
  background-image: url(./img/image2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.top-section__grid__item:nth-child(3) {
  grid-area: item3;
  background-color: green;
  background-image: url(./img/image3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.top-section__grid__item:nth-child(4) {
  grid-area: item4;
  background-color: yellow;
  background-image: url(./img/image4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.top-section__grid__item:nth-child(5) {
  grid-area: item5;
  background-color: purple;
  background-image: url(./img/image5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  grid-template-areas:
    "item1 . ."
    "item2 item2 item2"
    "item3 item3 item3";
  display: grid;
}

.card__pinned {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  width: 3em;
  text-decoration: none;
}

.card__text {
  grid-area: item2;
  padding: 0.5em;
}
