@use "components/header";
@use "components/main";
@use "components/topsection";
@use "components/articlesection";
@use "components/oldarticlesection";
@use "components/subscribesection";
@use "components/footer";

body {
    color: aqua;
    background-color:#14141eea;
}