/* make extend/ mixing for for the link dec
make the hoover effect whit right colors*/
header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 1em;
}
header img {
  height: 2.5em;
}
header nav {
  white-space: nowrap;
  max-width: 80%;
}
header nav a {
  text-decoration: none;
  color: white;
  margin-right: 1em;
}
header nav a:hover::after {
  content: "";
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
}
header nav a:first-child::after {
  content: "";
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
}
header nav i {
  color: white;
}

@media screen and (min-width: 1000px) {
  .fa-bars {
    visibility: hidden;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
  }
  .fa-bars {
    color: white;
  }
}
/*add side bar colors and use variables for colors*/
.load-more {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: gray;
  border-radius: 1em;
  max-width: 90%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.load-more:hover {
  background-color: rgba(250, 146, 81, 0.9450980392);
  transition: background-color 0.5s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  color: rgba(20, 20, 30, 0.9176470588);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin: 0;
  padding: 0.2em;
  font-size: 1em;
  color: #f8f8f8;
}

.button-dark, .old-blog article:nth-child(1) button, .old-blog article:nth-child(3) button, .old-blog article:nth-child(5) button, .blog article button, .card article:nth-child(1) button, .card article:nth-child(2) button, .card article:nth-child(3) button, .card article:nth-child(4) button, .card article:nth-child(5) button {
  border-radius: 1em;
  border-width: 0.2em;
  border-color: rgba(20, 20, 30, 0.9176470588);
  background-color: transparent;
  font-size: 0.4em;
  letter-spacing: 0.3em;
}

.button-light, .old-blog article:nth-child(2) button, .old-blog article:nth-child(4) button, .blog article:nth-child(2) button {
  border-radius: 1em;
  border-width: 0.2em;
  background-color: transparent;
  border-color: #f1f1f1;
  color: #f1f1f1;
  font-size: 0.4em;
  letter-spacing: 0.3em;
}

/* add color variables and make button, 
add font size variable etc. use light and tark theme colors*/
.card {
  display: grid;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5";
  gap: 2em;
}
.card p {
  padding-top: 2em;
}
.card .lower {
  padding-top: 17em;
}
.card article {
  border-radius: 2em;
  padding: 2em;
}
.card article:hover {
  transform: translateY(-1.5%);
  transition: all 0.5s;
  cursor: pointer;
}
.card article:nth-child(1) {
  grid-area: item1;
  background-image: url(./img/image1.png), linear-gradient(rgba(74, 46, 26, 0.402), rgba(66, 63, 38, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #f1f1f1;
}
.card article:nth-child(1) button {
  background-color: rgba(20, 20, 30, 0.9176470588);
  color: #f1f1f1;
}
.card article:nth-child(2) {
  grid-area: item2;
  background-image: url(./img/image2.png), linear-gradient(rgba(26, 37, 74, 0.402), rgba(49, 41, 154, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #f1f1f1;
}
.card article:nth-child(2) button {
  background-color: #f1f1f1;
  color: rgba(20, 20, 30, 0.9176470588);
}
.card article:nth-child(3) {
  background-image: url(./img/image3.png), linear-gradient(rgba(165, 110, 34, 0.402), rgba(218, 141, 32, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #f1f1f1;
}
.card article:nth-child(3) button {
  background-color: #f1f1f1;
  color: rgba(20, 20, 30, 0.9176470588);
}
.card article:nth-child(4) {
  background-image: url(./img/image4.png), linear-gradient(rgba(195, 16, 235, 0.402), rgba(70, 11, 60, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.card article:nth-child(4) button {
  background-color: rgba(20, 20, 30, 0.9176470588);
  color: #f1f1f1;
}
.card article:nth-child(5) {
  grid-area: item5;
  background-image: url(./img/image5.png), linear-gradient(rgba(235, 16, 173, 0.402), rgba(213, 62, 188, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.card article:nth-child(5) button {
  background-color: rgba(20, 20, 30, 0.9176470588);
  color: #f1f1f1;
}

/*ad variables ets ADN can you find 
a way how to apply a style in evey other item?

*/
.blog {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  margin: 5em;
}
.blog article {
  padding: 12em;
  border-radius: 3em;
  cursor: pointer;
}
.blog article h3 {
  font-size: 1.5em;
}
.blog article:nth-child(1) {
  background-image: url(./img/image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.blog article:nth-child(2) {
  background-image: url(./img/image2.png), linear-gradient(rgba(230, 127, 54, 0.402), rgba(141, 85, 45, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #f1f1f1;
}
.blog article:nth-child(3) {
  background-image: url(./img/image4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.blog article:hover {
  background-size: 101%;
}
.blog h3 i {
  visibility: hidden;
  transition: transform 0.5s ease-out;
  padding-left: 0.7em;
}
.blog h3:hover i {
  visibility: visible;
  transform: scaleX(1.5);
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  border-radius: 5px;
  padding-left: 3em;
  padding-right: 3em;
}

/* make variables, color thing, optomize code?*/
.old-blog {
  display: grid;
  grid-template-areas: "item1 item1 item1 item2 item2 item2" "item1 item1 item1 item2 item2 item2" "item3 item3 item4 item4 item5 item5";
  gap: 1em;
  margin: 5em;
}
.old-blog article {
  border-radius: 2em;
  padding: 5em;
}
.old-blog article:nth-child(1) {
  grid-area: item1;
  background-image: url(./img/image1.png), linear-gradient(rgba(230, 127, 54, 0.402), rgba(141, 85, 45, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.old-blog article:nth-child(2) {
  grid-area: item2;
  background-image: url(./img/image2.png), linear-gradient(rgba(230, 127, 54, 0.402), rgba(141, 85, 45, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.old-blog article:nth-child(3) {
  grid-area: item3;
  background-image: url(./img/image6.png), linear-gradient(rgba(230, 127, 54, 0.402), rgba(141, 85, 45, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.old-blog article:nth-child(4) {
  grid-area: item4;
  background-image: url(./img/image7.png), linear-gradient(rgba(230, 127, 54, 0.402), rgba(141, 85, 45, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.old-blog article:nth-child(5) {
  grid-area: item5;
  background-image: url(./img/image6.png), linear-gradient(rgba(230, 127, 54, 0.402), rgba(141, 85, 45, 0.5019607843));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.old-blog article:hover {
  background-size: 101%;
}
.old-blog h3 i {
  visibility: hidden;
  transition: transform 0.5s ease-out;
  padding-left: 0.7em;
}
.old-blog h3:hover i {
  visibility: visible;
  transform: scaleX(1.5);
}

/* Use color variable, make variable from padding
and maybe for font size */
.subscribe {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
  padding: 2em;
}
.subscribe h3 {
  margin: auto;
  padding: 2em;
  font-size: 2.5em;
}
.subscribe p {
  font-size: 2em;
  margin: auto;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(30) infinite alternate, blinking 0.1s infinite;
  border-right: 1px solid white;
}
.subscribe form {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.subscribe form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 70%;
  transition: width 1s linear;
  text-align: center;
  font-size: 1.5em;
}
.subscribe form input:focus {
  outline: none;
  width: 80%;
}
.subscribe button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.subscribe button:hover {
  background-color: white;
  color: black;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
  80% { /* hold the text for 1 second */
    width: 55%;
  }
}
@keyframes blinking {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
/* Make the hoove work and change the colors of the social icons
and use the extend for the links*/
/*Make nav hoover righ color use var*/
.footer-nav-wrapper {
  display: grid;
  grid-template-areas: "nav1 nav2" "social .";
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.footer-nav-wrapper nav {
  grid-area: "nav";
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.footer-nav-wrapper nav a {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  margin-right: 1em;
  padding: 1%;
}
.footer-nav-wrapper nav a:hover::after {
  content: "";
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
}
.footer-nav-wrapper nav i {
  padding: 10%;
  font-size: 0.8em;
  color: #f8f8f8;
}
.footer-nav-wrapper nav i:hover {
  color: orange;
}

.rights {
  grid-area: "social";
  display: flex;
  margin-left: 10%;
}
.rights p {
  font-size: 0.2em;
  color: #f8f8f8;
}

body {
  margin: 4em;
  background-color: rgba(20, 20, 30, 0.9176470588);
  font-family: "Georgia", "Times New Roman", Times, serif;
}

/*# sourceMappingURL=style.css.map */
