/* make extend/ mixing for for the link dec
make the hoover effect whit right colors*/
header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 1.3em;
}
header img {
  height: 2.5em;
}
header nav a {
  text-decoration: none;
  color: white;
  margin-right: 1em;
}
header nav a:hover::after {
  content: "";
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
header nav a:first-child::after {
  content: "";
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
header nav i {
  color: white;
}

/*add side bar colors and use variables for colors*/
.load-more {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: gray;
  border-radius: 5px;
  max-width: 90%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.load-more:hover {
  background-color: rgba(251, 214, 3, 0.7607843137);
  transition: background-color 0.5s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #f8f8f8;
}

.card {
  display: grid;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5";
  gap: 2em;
}
.card article:nth-child(1) {
  grid-area: item1;
  background-color: aqua;
}
.card article:nth-child(2) {
  grid-area: item2;
  background-color: aqua;
}
.card article:nth-child(3) {
  grid-area: item3;
  background-color: aqua;
}
.card article:nth-child(4) {
  grid-area: item4;
  background-color: aqua;
}
.card article:nth-child(5) {
  grid-area: item5;
  background-color: aqua;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  justify-content: center;
  border-radius: 3em;
}
.blog article:nth-child(1) {
  background-color: red;
}
.blog article:nth-child(2) {
  background-color: blue;
}
.blog article:nth-child(3) {
  background-color: green;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.old-blog {
  display: grid;
  grid-template-areas: "item1 item1 item1 item2 item2 item2" "item1 item1 item1 item2 item2 item2" "item3 item3 item4 item4 item5 item5";
  padding: 3em;
  gap: 1em;
}
.old-blog article:nth-child(1) {
  grid-area: item1;
  background-color: aqua;
}
.old-blog article:nth-child(2) {
  grid-area: item2;
  background-color: aqua;
}
.old-blog article:nth-child(3) {
  grid-area: item3;
  background-color: aqua;
}
.old-blog article:nth-child(4) {
  grid-area: item4;
  background-color: aqua;
}
.old-blog article:nth-child(5) {
  grid-area: item5;
  background-color: aqua;
}

/* Use color variable, make variable from padding
and maybe for font size */
.subscribe {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
  padding: 2em;
}
.subscribe h3 {
  margin: auto;
  padding: 2em;
  font-size: 2.5em;
}
.subscribe p {
  font-size: 2em;
  margin: auto;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(30) infinite alternate, blinking 0.1s infinite;
  border-right: 1px solid white;
}
.subscribe form {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.subscribe form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 70%;
  transition: width 1s linear;
  text-align: center;
  font-size: 1.5em;
}
.subscribe form input:focus {
  outline: none;
  width: 80%;
}
.subscribe button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.subscribe button:hover {
  background-color: white;
  color: black;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
  80% { /* hold the text for 1 second */
    width: 55%;
  }
}
@keyframes blinking {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
/* Make the hoove work and change the colors of the social icons
and use the extend for the links*/
/*Make nav bar hoover*/
.footer-nav-wrapper {
  display: grid;
  grid-template-areas: "nav1 nav2" "social .";
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.footer-nav-wrapper nav {
  grid-area: "nav";
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.footer-nav-wrapper nav a {
  text-decoration: none;
  color: white;
  margin-right: 1em;
  padding: 1%;
}
.footer-nav-wrapper nav a:hover::after {
  content: "";
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: rgba(9, 9, 24, 0.9176470588);
  position: absolute;
}
.footer-nav-wrapper nav i {
  padding: 10%;
  font-size: 1.5em;
  color: #f8f8f8;
}

.rights {
  grid-area: "social";
  display: flex;
  margin-left: 10%;
}
.rights p {
  font-size: 1em;
  color: #f8f8f8;
}

body {
  margin: 4em;
  background-color: rgba(20, 20, 30, 0.9176470588);
  font-family: "Georgia", "Times New Roman", Times, serif;
}

/*# sourceMappingURL=style.css.map */
