@mixin background-style($image, $gradient) {
    background-image: url($image), $gradient;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: colors.$theme-light;
  }

